/* -------- HEADER ------- */
header {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .logo {
        display: flex;
        justify-content: center;
    }

    nav {
        display: flex;
        justify-content: center;
        li {
            display: inline-block;
        }
    }
}
