/* -------- HEADER ------- */
header {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .logo {
        display: flex;
        justify-content: center;
        margin-top: auto;
    }

    nav {
        display: flex;
        justify-content: center;
        margin-top: auto;
        margin-bottom: 15px;

        ul {
            height: 50px;
            width: 300px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            li {
                font-size: 26px;
                &:hover {
                    background-color: $active;
                }
            }
        }
    }
}
