/* ------- MIX ------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 900;
}

p {
  font-size: 30px;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: greenyellow;
}

/* ------- COLOR -------- */

/* -------- HEADER ------- */

header {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .logo {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

header nav {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 15px;
}

header nav ul {
  height: 50px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header nav ul li {
  font-size: 26px;
}

header nav ul li:hover {
  background-color: aqua;
}

/* ------- MAIN -------- */

main {
  background-image: url("/img/main-bg.jpg");
}

section li {
  height: 50px;
  width: 31%;
  display: inline-block;
  margin: 0 auto;
  color: #01455a;
  text-transform: uppercase;
}

section li:hover img.img-bg {
  max-width: 130%;
}

section li img.img-bg {
  max-width: 100%;
}

